html {
    font-size: 10px;
}
html,
body,
main {
    height: 100%;
    width: 100%;
    height: 100%;
}

main {
    text-align: center;
}

main #input-output-wrapper {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

main #input-output-wrapper #bearing-formatter-input,
main #input-output-wrapper #bearing-formatter-output {
    flex: 1;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: "Courier New";
    line-height: 2.2rem;
    padding: 1.5rem 2rem;
}

main #input-output-wrapper #bearing-formatter-output {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    main #input-output-wrapper {
        flex-direction: row;
        padding: 2rem;
        column-gap: 2rem;
    }
    main #input-output-wrapper #bearing-formatter-output {
        margin-top: 0;
    }
}
