html {
    font-size: 10px;
    font-family: system-ui;
}
html,
body,
main {
    height: 100%;
    width: 100%;
    height: 100%;
}

main {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

main #toast {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    background: #888;
    color: #fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem 1.5rem 1rem;
    z-index: 10;
    opacity: 0;
    transition: opacity 300ms, transform 100ms;
    pointer-events: none;
    transform: translateX(-50%) scale(1);
}
main #toast.shown {
    opacity: 0.8;
    animation: enlarge 200ms;
}
main #toast.enlarge {
    transform: translateX(-50%) scale(1.2);
}

main > section {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

main > section #copy-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background-color 300ms, opacity 300ms;
    border-radius: 0.5rem;
    justify-content: center;
    opacity: 0.8;
}

main > section #copy-btn:hover {
    background-color: #d0d0d0;
    opacity: 1;
}

main > section > #copy-btn > img {
    width: 2rem;
}

main > section > #copy-btn > span {
    margin-left: 0.5rem;
}


main > section .textarea-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
}

main > section .textarea-wrapper .line-numbers {
    padding: 1.5rem 0.5rem 1.5rem 1rem;
    font-family: "Courier New", system-ui;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    width: auto;
    flex-direction: column;
    text-align: right;
    position: absolute;
    border: 2px solid transparent;
    overflow: hidden;
    color: #666;
}

main > section > .textarea-wrapper textarea {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    border-width: 2px;
    border-radius: 0.5rem;
    border-color: #d0d0d0;
    font-family: "Courier New", system-ui;
    padding-left: 37px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    main > section {
        flex-direction: row;
        padding: 2.5rem;
        grid-gap: 2.5rem;
    }
    main > section > #copy-btn {
        position: absolute;
        width: auto;
        min-width: 10rem;
        top: 3.2rem;
        right: 3.2rem;
        left: initial;
        bottom: initial;
    }
}
